<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ujjwal.bisht/Desktop/Assessment_4th_March">
        <classes>
            <class name="com.nopcommerce.promotions.api.campaigns.CampaignsCreate">
                <methods>
                    <include name="testCreateCampaign"/>
                </methods>
            </class>
            <class name="com.nopcommerce.promotions.api.campaigns.CampaignsDelete">
                <methods>
                    <include name="deleteSingleCampaignsTest"/>
                </methods>
            </class>
            <class name="com.nopcommerce.promotions.api.login.LoginApiTest">
                <methods>
                    <include name="testLogin"/>
                </methods>
            </class>
            <class name="com.nopcommerce.promotions.api.subscriptionType.CreateNewSubscriptionTypeList">
                <methods>
                    <include name="createNewSubscriptionTypeListTest"/>
                </methods>
            </class>
            <class name="com.nopcommerce.promotions.api.subscriptionType.DeleteSubscriptionTypeElement">
                <methods>
                    <include name="deleteSubscriptionTypeElement"/>
                </methods>
            </class>
            <class name="com.nopcommerce.promotions.tests.CampaignsPageTest">
                <methods>
                    <include name="verifyCampaignPageLoaded"/>
                    <include name="verifyAddCampaign"/>
                    <include name="verifyDeleteCampaign"/>
                    <include name="verifyDeleteLastCampaign"/>
                </methods>
            </class>
            <class name="com.nopcommerce.promotions.tests.SubscriptionTypesTest">
                <methods>
                    <include name="verifySubscriptionTypesPage"/>
                    <include name="verifyAddSubscriptionType"/>
                    <include name="verifyDeleteSubscriptionType"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>