<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite" parallel="false" thread-count="1">

    <test name="Project_Batch4" verbose="2" preserve-order="true">

        <classes>

            <class name="com.nopcommerce.promotions.tests.AffiliatesPageTest">
                <methods>
                    <include name="verifyAffiliatePageLoaded"/>
                    <include name="verifyAddAffiliate"/>
                    <include name="verifyUpdateAffiliate"/>
                    <include name="verifyDeleteAffiliate"/>
                </methods>
            </class>

            <class name="com.nopcommerce.promotions.tests.CampaignsPageTest">
                <methods>
                    <include name="verifyCampaignPageLoaded"/>
                    <include name="verifyAddCampaign"/>
                    <include name="verifyDeleteCampaign"/>
                    <include name="verifyDeleteLastCampaign"/>
                </methods>
            </class>

            <class name="com.nopcommerce.promotions.tests.DiscountTest">
                <methods>
                    <include name="verifyDiscountPageLoaded"/>
                    <include name="verifyAddDiscount"/>
                    <include name="verifyDeleteDiscount"/>
                </methods>
            </class>

            <class name="com.nopcommerce.promotions.tests.NewsletterModuleTest">
                <methods>
                    <include name="testNewsletterModule"/>
                </methods>
            </class>

            <class name="com.nopcommerce.promotions.tests.SubscriptionTypesTest">
                <methods>
                    <include name="verifySubscriptionTypesPage"/>
                    <include name="verifyAddSubscriptionType"/>
                    <include name="verifyDeleteSubscriptionType"/>
                </methods>
            </class>

        </classes>

    </test>

</suite>