<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:\Users\anushka.ladukar\IdeaProjects\Project_Batch4">
        <classes>
            <class name="com.nopcommerce.promotions.api.login.LoginApiTest">
                <methods>
                    <include name="testLogin"/>
                </methods>
            </class>

            <class name="com.nopcommerce.promotions.api.discounts.discountCreate">
                <methods>
                    <include name="testCreateDiscount"/>
                </methods>
            </class>
            <class name="com.nopcommerce.promotions.api.discounts.discountDelete">
                <methods>
                    <include name="testDeleteDiscount"/>
                </methods>
            </class>

            <class name="com.nopcommerce.promotions.api.campaigns.CampaignsCreate">
                <methods>
                    <include name="testCreateCampaign"/>
                </methods>
            </class>
            <class name="com.nopcommerce.promotions.api.campaigns.CampaignsDelete">
                <methods>
                    <include name="deleteSingleCampaignsTest"/>
                </methods>
            </class>

            <class name="com.nopcommerce.promotions.api.newsletter.addnew">
                <methods>
                    <include name="addnewfile"/>
                </methods>
            </class>

            <class name="com.nopcommerce.promotions.tests.CampaignsPageTest"/>
            <class name="com.nopcommerce.promotions.tests.DiscountTest"/>

        </classes>
    </test>
</suite>



